body{
    margin: 0;
    padding: 0;
}
.navstyle1{
    background-color: red;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.ulStyle1{
    display: flex;  
    list-style: none; 
    right: 150px;
    
}
.ulStyle2{
    display: flex;  
    list-style: none; 
}
a {
    text-decoration: none;
    color: black;
    margin-right: 10; 
}
.center {
    margin: auto;
    width: 80%;
    border: 3px solid #000320;
    padding: 10px;
    text-align: center;
}
.textStyle1{
    color: #ff0000;
    font-family: Georgia, 'Times New Roman', Times, serif;

}
.imgStyle1 {
    border-radius: 50%;
}
      
.divstyle1 {
    display: flex;
    background-color: rgb(245, 57, 0);
}
   